body { 
	background: url(../images/battle.jpg) no-repeat; 
	background-size:100%;
}
.wrapper{
	max-width:960px;
	margin: 0 auto;
}

.character { 
	border-style: solid; 
	padding: 2px; 
	float: left; 
	margin: 2px; 
	overflow:hidden;
	margin:10px;
}

.player { 
	margin-top:78px; 
	height:150px; 
	width:500px; 
	margin-left:200px; 
	border: solid 3px red;
	color: white;
}

#player img{
	width:100px;
	height:100px;
	float:left;
}
.opponent {
	margin-top:78px; 
	height:150px; 
	width:500px; 
	margin-left:200px; 
	border: dashed 3px green;
	color: white;
}
#opponent img {
	width:100px;
	height:100px;
	float:left;
}

#buttons { 
	padding-top:60px; 
	height:150px;
	width: 150px;
	/*overflow:hidden;*/
	/*float:left;*/
}
#allchars img {
	width:100px;
	height:100px;
	float:left;
}

#defeated img {
	width: 100px;
	height: 100px;
	float: left;
}
#clear { 
	margin-left: 20px; 
	font-size: 25px; 
	color: black; 
	border-style: solid; 
	width: 100px; 
} 
footer{
	width:100%;
	text-align: center;
	clear: both;
}